form {
    display: flex;
    justify-content: center;
}

fieldset {
    padding: 20px 150px;
    width: 250px;
    height: 550px;
    border: 1px solid magenta;
}

fieldset, div, label {
    display: inline-block;
}

legend {
    margin-left: -90px;
    border: 1px solid darkmagenta;
    padding: 5px;
}

legend, div {
    margin-bottom: 5px;
    
}